.cart-container {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.h2 {
  color: #333;
  margin-bottom: 10px;
}

.p {
  color: #555;
  margin-bottom: 20px;
}

.img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.icon {
  height: 30px;
  width: 30px;
  cursor: pointer;
}
.icon-cart {
  color: #333;
  height: 30px;
  width: 30px;
  cursor: pointer;
}
.action-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
